ion-view(view-title='{{pet.title}}')
  ion-content(has-header='true', padding='true')
    p &lcub;&lcub; pet&period;description &rcub;&rcub;
    p
      a.button.button-small.icon.ion-arrow-left-b(href='#/tab/pets')  All Pets
